<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="/<%= htmlWebpackPlugin.options.modName %>"></script>
  </head>
  <body>
    <div id="main"></div>
  </body>
</html>

